<!-- 
Mohamed Erwa
301282137
COMP229 Sec004
4/2/2023 
-->

<!-- Bottom Nav -->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="display-6 navbar-text">
      &copy; Copyright 2020. All Rights reserved.
    </h6>
  </nav>
</footer>
